// Import fonts

// Global variables

// Breakpoints variables
$bp-mobile-sm: 320px;
$bp-mobile-md: 375px;
$bp-mobile-lg: 425px;
$bp-tablet: 768px;
$bp-laptop: 1024px;
$bp-desktop: 1400px;
$bp-widescreen: 1920px;


// Global styles for classes

// Import other scss files

