
.auth-container {
  padding: 2em;
  box-shadow: rgba(152, 155, 158, 0.3) 0px 6px 12px;
  border-radius: 8px;
  gap: 0.8em;
  display: grid;
  gap: 1rem;
  width: 60%;
  max-width: 600px;
  background-color: white;
}

.auth-form {
  width: 80%;
  margin: auto;
  gap: 0.8em;
  display: grid;
  gap: 1rem;
}
