.block-container {
  border: 1px solid #606776;
  max-width: 70%;
  margin: 0.5em 0;
  border-radius: 6px;
  padding: 0.5em 1em;

  &:hover {
    background-color: #f9f9f9;
  }
}

.block-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  &:hover {
    background-color: #f9f9f9;
  }
}

.block-name {
  display: flex;
  align-self: center;
  margin: 0 .5em;
  font-weight: 600;
  &:hover {
    // color: grey;
    cursor: pointer;
  }
}

.block-item {
  align-items: center;
  margin: 0.5em;

  &:hover {
    // color: grey;
    cursor: pointer;
  }
}

.block-actions {
  display: flex;
}

/* modal */
.modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;

  svg {
    color: black;
    cursor: pointer;
    font-size: 1.3em;

    &:hover {
      color: #3597d3;
    }
  }
}
.modal-header-actions {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action-item {
  margin: 0 0.2em;
}
.MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.icon {
  cursor: pointer;
  font-size: 1.5em;
  margin: 0.2em;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    input {
      margin: 0 0.2em;
    }
  }
}

.checkbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.comments-container {
  display: flex;
  flex-direction: column;
}

.comment-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.2em 1em;
  // margin: 1em 0;
  // border: 1px solid grey;
  // border-radius: 15px;
  border-bottom: 1px solid grey;

  span {
    font-weight: 600;
    // padding-top: 1em;
  }
  p {
    margin: 0.5em 0;
  }
}

.comment-input-container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // align-self: center;

  button {
    padding: 0.6em;
  }

  textarea,
  button {
    margin: 0.2em;
  }

  .grey-bar {
    button {
      padding: 0.5em;
      text-align: center;
      color: #fff;
      padding: 0.5em 2em;
      font-weight: 600;

      &:hover {
      }
    }

    height: 2em;
    background-color: #ecf0f1;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    justify-content: end;
    margin: auto;
  }

  .comment-input {
    margin: 0;
    padding: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.modal-container {
  display: flex;
  flex-direction: row;
}

.modal-side {
  width: calc(100% - 200px);
}

.modal-blocks {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 0.5em 1em;
  align-items: center;
}

.label {
  border-radius: 15px;
  padding: 0.2em 0.7em;
  color: #fff;
  width: 100%;
  margin: 0.2em 0;
}

.sub-block-container {

}
