.main {
  font-family: sans-serif;
  
}

.dropdown-container {
  width: 10em;
  margin: 0 auto;
}

.dropdown-header {
  padding: 0.4em 1em;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  background-color: #3a4151;
  cursor: caret;
  display: flex;
  width: 100%;
  &:focus {
    outline: none;
  }
}

.dropdown-input {
  display: flex;
  width: 100%;
  // align-items: center;
}



.showOnHover {
  display: none;
}

.dropdown-header:hover {
  .showOnHover {
    display: block;
  }
}

.dropdown-list {
  padding: 0;
  margin: 0;
  background-color: #3a4151;
  // border: 2px solid #ebebeb;
  box-sizing: border-box;
  font-weight: 500;
  margin: .2em;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

.dropdown-list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-list-item-container {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
  list-style: none;
  cursor: pointer;

  .item-actions {
    display: none;
  }
}

.dropdown-list-item-container:hover {
  .item-actions {
    display: block;
  }
}

.dropdown-list-item-container:hover {
  background: #2f3542;
}
