.sidebar {
  background-color: #f9f9f9;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sidebar-top {
    margin: 1em 0;
    display: flex;
    justify-content: center;

    .main {
      position: absolute;
    }
  }

  .links {
    max-height: 70%;
    width: 100%;
    margin: 1em 0;
    overflow-y: auto;

    .links-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover {
        background-color: #eaeaea;
        div {
          background-color: #eaeaea;
        }
        svg {
          background-color: #eaeaea;
          &:hover {
            color: #3597d3;
          }
        }
      
      }

      svg {
        height: 100%;
        font-size: 1.3em;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content:center ;
    background-color: #f9f9f9;

    svg {
      // height: 100%;
      font-size: 1.7em;
      background-color: #f9f9f9;
      cursor: pointer;
      margin-bottom: .5em;
    }

    svg {
      &:hover {
        color: #3597d3;
      }
    }

    .user {
      display: flex;
    }
  }
}

.actionButton {
  background-color: #fff;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  // transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 5px;
}

.collections {
  font-size: 1.1em;
  border: 0;
  // color: #fff;
  padding: 0.4em 1em;
  font-weight: 500;
  background-color: #f9f9f9;
  cursor: caret;
  display: flex;
  width: 100%;
  &:focus {
    outline: none;
  }
}

.collection-input {
  width: 100%;
  font-size: 2em;
  font-weight: 600;
  padding: .2em 0;
  display: flex;
  justify-content: space-between;

  &:hover {
    background-color: #f9f9f9;
  }
}
.delete-collection {
  display: none;
}

.links-header:hover {
  .edit-collection {
    display: block;
  }
}

.delete-collection:hover {
  .edit-collection {
    display: block;
  }
}

.add-block {
  display: flex;
  max-width: 70%;
}

.full-add-block {
  display: flex;
  max-width: 100%;
}


.block-type {
  width: 5em;
  padding: .4em 0;
}