.sidebar {
  background-color: #292e3a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .sidebar-top {
    margin: 1em 0;
    display: flex;
    justify-content: center;

    .main {
      position: absolute;
    }
  }

  .links {
    max-height: 70%;
    width: 100%;
    margin: 1em 0;
    overflow-y: auto;

    .links-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    .user {
      display: flex;
    }
  }
}

.actionButton {
  background-color: #4b556a;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 5px;
}

.actionButton:hover {
  background-color: #313846;

}


.collections {
  font-size: 1.1em;
  margin: 1em;
  border: 0;
  color: #fff;
  padding: 0.4em 1em;
  font-weight: 500;
  background-color: #3a4151;
  cursor: caret;
  display: flex;
  width: 100%;
  &:focus {
    outline: none;
  }
}
.delete-collection {
  display: none;
}

.links-header:hover {
  .edit-collection {
    display: block;
  }
}

.delete-collection:hover {
  .edit-collection {
    display: block;
  }

}