.layout {
  display: flex;
  min-height: 100vh;

  .aside {
    width: 30vw;
  }

  .content {
    display: flex;
    flex-direction: column;
    
    .header {
      border-bottom: 1px solid #fff;
      height: 5vh;
      width: 100vw;
      padding: .3em;
    }
    
    .main {
      width: 100vw;
      padding: .5em;
    }
  }
}
