.navItem {
  padding: 0.8rem 1.25rem;
  text-decoration: none;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  svg {
    background-color: #f9f9f9;
  }

  &:hover {
    div {

      background-color: #3597d3;

      svg {
        background-color: #3597d3;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.navItem:hover {
  background-color: #3597d3;
}

.activeNavItem {
  color: #000;
  background-color: #3597d3;
}

.navIcon {
  color: #000;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.navLabel {
  color: #000;
  font-size: 1rem;
}

.navItemHeaderButton {
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.navItemHeaderIcon {
  color: #000;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: auto;
  // transition: all 0.25s;
}

.itemExpanded {
  transform: rotate(180deg);
}

.navChildrenBlock {
  background-color: hsl(226, 71%, 36%);
}
